<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2BFFx2ZwoyQBNasGTDWK4L76HZyqA7CE</string>
	<key>GCM_SENDER_ID</key>
	<string>158889797902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sidehustleMarketPlace</string>
	<key>PROJECT_ID</key>
	<string>side-hustle-app-f1cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>side-hustle-app-f1cb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158889797902:ios:1acdad797930acb8970f5f</string>
</dict>
</plist>